*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111;
    color:white;
}

header{
    text-align:center;
    padding:80px 20px;
}

header h1{
    font-size:50px;
    margin-bottom:10px;
}

header p{
    margin-bottom:20px;
    color:#ccc;
}

button{
    padding:12px 25px;
    border:none;
    border-radius:5px;
    background:#00bcd4;
    color:white;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#0097a7;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:40px;
}

.card{
    background:#222;
    width:250px;
    padding:20px;
    border-radius:10px;
    text-align:center;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-10px);
}

